<div class="orbit-logo-inline" aria-label="Logo Expert Doors">
  <div class="orbit-logo-inline__orbit orbit-logo-inline__orbit--one">Expert Doors • Expert Doors • Expert Doors •</div>
  <div class="orbit-logo-inline__orbit orbit-logo-inline__orbit--two">Expert Doors • Expert Doors • Expert Doors •</div>
  <div class="orbit-logo-inline__garage">
    <div class="orbit-logo-inline__garage-head"></div>
    <div class="orbit-logo-inline__door-frame">
      <div class="orbit-logo-inline__door orbit-logo-inline__door--left"></div>
      <div class="orbit-logo-inline__door orbit-logo-inline__door--right"></div>
      <div class="orbit-logo-inline__worker">
        <span class="orbit-logo-inline__helmet"></span>
        <span class="orbit-logo-inline__head"></span>
        <span class="orbit-logo-inline__body"></span>
        <span class="orbit-logo-inline__arm orbit-logo-inline__arm--left"></span>
        <span class="orbit-logo-inline__arm orbit-logo-inline__arm--right"></span>
        <span class="orbit-logo-inline__leg orbit-logo-inline__leg--left"></span>
        <span class="orbit-logo-inline__leg orbit-logo-inline__leg--right"></span>
      </div>
    </div>
  </div>
</div>
