<div class="logo-scene" aria-label="Animowane logo Expert Doors: auto wjeżdża do garażu">
  <div class="garage-stage" aria-hidden="true">
    <img class="garage-image" src="/images/expert-doors/logo-garage.png" alt="Garaż Expert Doors" onerror="this.onerror=null;this.src='/images/expert-doors/hero-door.svg';" />
    <img class="car-image" src="/images/expert-doors/logo-car.png" alt="Samochód sportowy Expert Doors" onerror="this.onerror=null;this.src='/images/expert-doors/gallery-1.svg';" />
  </div>
  <p class="logo-caption">Expert Doors</p>
</div>
