<div class="orbit-logo expert-doors-logo" aria-label="Animowane logo Expert Doors">
  <div class="expert-doors-logo__frame" aria-hidden="true">
    <div class="expert-doors-logo__backdrop"></div>
    <div class="expert-doors-logo__logo expert-doors-logo__logo--shadow">
      <div class="expert-doors-logo__row expert-doors-logo__row--top">
        <span class="expert-doors-logo__initial">E</span>
        <span class="expert-doors-logo__word">xpert</span>
      </div>
      <div class="expert-doors-logo__row expert-doors-logo__row--bottom">
        <span class="expert-doors-logo__initial">D</span>
        <span class="expert-doors-logo__word">oors</span>
      </div>
    </div>

    <div class="expert-doors-logo__portal">
      <div class="expert-doors-logo__door expert-doors-logo__door--left"></div>
      <div class="expert-doors-logo__door expert-doors-logo__door--right"></div>
      <div class="expert-doors-logo__opening-glow"></div>
      <div class="expert-doors-logo__worker">
        <span class="expert-doors-logo__helmet"></span>
        <span class="expert-doors-logo__head"></span>
        <span class="expert-doors-logo__body"></span>
        <span class="expert-doors-logo__arm expert-doors-logo__arm--left"></span>
        <span class="expert-doors-logo__arm expert-doors-logo__arm--right"></span>
        <span class="expert-doors-logo__leg expert-doors-logo__leg--left"></span>
        <span class="expert-doors-logo__leg expert-doors-logo__leg--right"></span>
      </div>
      <div class="expert-doors-logo__burst expert-doors-logo__burst--one"></div>
      <div class="expert-doors-logo__burst expert-doors-logo__burst--two"></div>
      <div class="expert-doors-logo__burst expert-doors-logo__burst--three"></div>
      <div class="expert-doors-logo__burst expert-doors-logo__burst--four"></div>
    </div>

    <div class="expert-doors-logo__logo expert-doors-logo__logo--main">
      <div class="expert-doors-logo__row expert-doors-logo__row--top">
        <span class="expert-doors-logo__initial">E</span>
        <span class="expert-doors-logo__word">xpert</span>
      </div>
      <div class="expert-doors-logo__row expert-doors-logo__row--bottom">
        <span class="expert-doors-logo__initial">D</span>
        <span class="expert-doors-logo__word">oors</span>
      </div>
    </div>
  </div>
</div>
